<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenixbao92.lwpl.dao.GiveMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.fenixbao92.lwpl.common.model.Give">
        <result column="giveId" property="giveId" jdbcType="BIGINT"/>
        <result column="roundId" property="roundId" jdbcType="BIGINT"/>
        <result column="fromPlayerId" property="fromPlayerId" jdbcType="BIGINT"/>
        <result column="toPlayerId" property="toPlayerId" jdbcType="BIGINT"/>
        <result column="unit" property="unit" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        giveId,
        roundId,
        fromPlayerId,
        toPlayerId,
        unit
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="give.giveId">
        INSERT INTO give (
            giveId,
            roundId,
            fromPlayerId,
            toPlayerId,
            unit
        ) VALUES (
            #{give.giveId,jdbcType=BIGINT},
            #{give.roundId,jdbcType=BIGINT},
            #{give.fromPlayerId,jdbcType=BIGINT},
            #{give.toPlayerId,jdbcType=BIGINT},
            #{give.unit,jdbcType=INTEGER}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="give.giveId">
        INSERT INTO give
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="give.giveId!=null"> giveId,</if>
            <if test="give.roundId!=null"> roundId,</if>
            <if test="give.fromPlayerId!=null"> fromPlayerId,</if>
            <if test="give.toPlayerId!=null"> toPlayerId,</if>
            <if test="give.unit!=null"> unit,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="give.giveId!=null">#{give.giveId,jdbcType=BIGINT},
            </if>
            <if test="give.roundId!=null">#{give.roundId,jdbcType=BIGINT},
            </if>
            <if test="give.fromPlayerId!=null">#{give.fromPlayerId,jdbcType=BIGINT},
            </if>
            <if test="give.toPlayerId!=null">#{give.toPlayerId,jdbcType=BIGINT},
            </if>
            <if test="give.unit!=null">#{give.unit,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO give (
            giveId,
            roundId,
            fromPlayerId,
            toPlayerId,
            unit
        )VALUES
        <foreach collection="gives" item="give" index="index" separator=",">
            (
            #{give.giveId,jdbcType=BIGINT},
            #{give.roundId,jdbcType=BIGINT},
            #{give.fromPlayerId,jdbcType=BIGINT},
            #{give.toPlayerId,jdbcType=BIGINT},
            #{give.unit,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE give
        <set>
            <if test="give.roundId != null"> roundId= #{give.roundId,jdbcType=BIGINT},</if>
            <if test="give.fromPlayerId != null"> fromPlayerId= #{give.fromPlayerId,jdbcType=BIGINT},</if>
            <if test="give.toPlayerId != null"> toPlayerId= #{give.toPlayerId,jdbcType=BIGINT},</if>
            <if test="give.unit != null"> unit= #{give.unit,jdbcType=INTEGER}</if>
        </set>
        WHERE giveId = #{give.giveId,jdbcType=BIGINT}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from give
        where 1=1
        <if test="giveId!=null">
            and giveId=#{giveId,jdbcType=BIGINT}
        </if>
        <if test="roundId!=null">
            and roundId=#{roundId,jdbcType=BIGINT}
        </if>
        <if test="fromPlayerId!=null">
            and fromPlayerId=#{fromPlayerId,jdbcType=BIGINT}
        </if>
        <if test="toPlayerId!=null">
            and toPlayerId=#{toPlayerId,jdbcType=BIGINT}
        </if>
        <if test="unit!=null">
            and unit=#{unit,jdbcType=INTEGER}
        </if>
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findCntByAll" resultType="long">
        select
        count(1)
        from give
        where 1=1
        <if test="giveId!=null">
            and giveId=#{giveId,jdbcType=BIGINT}
        </if>
        <if test="roundId!=null">
            and roundId=#{roundId,jdbcType=BIGINT}
        </if>
        <if test="fromPlayerId!=null">
            and fromPlayerId=#{fromPlayerId,jdbcType=BIGINT}
        </if>
        <if test="toPlayerId!=null">
            and toPlayerId=#{toPlayerId,jdbcType=BIGINT}
        </if>
        <if test="unit!=null">
            and unit=#{unit,jdbcType=INTEGER}
        </if>
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <delete id="deleteByGiveId">
        delete from  give
        where giveId=#{giveId,jdbcType=BIGINT}
    </delete>
</mapper>

