<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenixbao92.lwpl.dao.PlayMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.fenixbao92.lwpl.common.model.Play">
        <result column="playId" property="playId" jdbcType="BIGINT"/>
        <result column="playerCnt" property="playerCnt" jdbcType="INTEGER"/>
        <result column="unitPrice" property="unitPrice" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        playId,
        playerCnt,
        unitPrice,
        `status`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="play.playId">
        INSERT INTO play (
            playId,
            playerCnt,
            unitPrice,
            `status`
        ) VALUES (
            #{play.playId,jdbcType=BIGINT},
            #{play.playerCnt,jdbcType=INTEGER},
            #{play.unitPrice,jdbcType=INTEGER},
            #{play.status,jdbcType=INTEGER}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="play.playId">
        INSERT INTO play
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="play.playId!=null"> playId,</if>
            <if test="play.playerCnt!=null"> playerCnt,</if>
            <if test="play.unitPrice!=null"> unitPrice,</if>
            <if test="play.status!=null"> `status`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="play.playId!=null">#{play.playId,jdbcType=BIGINT},
            </if>
            <if test="play.playerCnt!=null">#{play.playerCnt,jdbcType=INTEGER},
            </if>
            <if test="play.unitPrice!=null">#{play.unitPrice,jdbcType=INTEGER},
            </if>
            <if test="play.status!=null">#{play.status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO play (
            playId,
            playerCnt,
            unitPrice,
            `status`
        )VALUES
        <foreach collection="plays" item="play" index="index" separator=",">
            (
            #{play.playId,jdbcType=BIGINT},
            #{play.playerCnt,jdbcType=INTEGER},
            #{play.unitPrice,jdbcType=INTEGER},
            #{play.status,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE play
        <set>
            <if test="play.playerCnt != null"> playerCnt= #{play.playerCnt,jdbcType=INTEGER},</if>
            <if test="play.unitPrice != null"> unitPrice= #{play.unitPrice,jdbcType=INTEGER},</if>
            <if test="play.status != null"> `status`= #{play.status,jdbcType=INTEGER}</if>
        </set>
        WHERE playId = #{play.playId,jdbcType=BIGINT}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from play
        where 1=1
        <if test="playId!=null">
            and playId=#{playId,jdbcType=BIGINT}
        </if>
        <if test="playerCnt!=null">
            and playerCnt=#{playerCnt,jdbcType=INTEGER}
        </if>
        <if test="unitPrice!=null">
            and unitPrice=#{unitPrice,jdbcType=INTEGER}
        </if>
        <if test="status!=null">
            and `status`=#{status,jdbcType=INTEGER}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findCntByAll" resultType="long">
        select
        count(1)
        from play
        where 1=1
        <if test="playId!=null">
            and playId=#{playId,jdbcType=BIGINT}
        </if>
        <if test="playerCnt!=null">
            and playerCnt=#{playerCnt,jdbcType=INTEGER}
        </if>
        <if test="unitPrice!=null">
            and unitPrice=#{unitPrice,jdbcType=INTEGER}
        </if>
        <if test="status!=null">
            and `status`=#{status,jdbcType=INTEGER}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <delete id="deleteByPlayId">
        delete from  play
        where playId=#{playId,jdbcType=BIGINT}
    </delete>
</mapper>

