<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenixbao92.lwpl.dao.RoundMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.fenixbao92.lwpl.common.model.Round">
        <result column="roundId" property="roundId" jdbcType="BIGINT"/>
        <result column="playId" property="playId" jdbcType="BIGINT"/>
        <result column="finishCnt" property="finishCnt" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        roundId,
        playId,
        finishCnt
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="round.roundId">
        INSERT INTO round (
            roundId,
            playId,
            finishCnt
        ) VALUES (
            #{round.roundId,jdbcType=BIGINT},
            #{round.playId,jdbcType=BIGINT},
            #{round.finishCnt,jdbcType=INTEGER}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="round.roundId">
        INSERT INTO round
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="round.roundId!=null"> roundId,</if>
            <if test="round.playId!=null"> playId,</if>
            <if test="round.finishCnt!=null"> finishCnt,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="round.roundId!=null">#{round.roundId,jdbcType=BIGINT},
            </if>
            <if test="round.playId!=null">#{round.playId,jdbcType=BIGINT},
            </if>
            <if test="round.finishCnt!=null">#{round.finishCnt,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO round (
            roundId,
            playId,
            finishCnt
        )VALUES
        <foreach collection="rounds" item="round" index="index" separator=",">
            (
            #{round.roundId,jdbcType=BIGINT},
            #{round.playId,jdbcType=BIGINT},
            #{round.finishCnt,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE round
        <set>
            <if test="round.playId != null"> playId= #{round.playId,jdbcType=BIGINT},</if>
            <if test="round.finishCnt != null"> finishCnt= #{round.finishCnt,jdbcType=INTEGER}</if>
        </set>
        WHERE roundId = #{round.roundId,jdbcType=BIGINT}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from round
        where 1=1
        <if test="roundId!=null">
            and roundId=#{roundId,jdbcType=BIGINT}
        </if>
        <if test="playId!=null">
            and playId=#{playId,jdbcType=BIGINT}
        </if>
        <if test="finishCnt!=null">
            and finishCnt=#{finishCnt,jdbcType=INTEGER}
        </if>
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <select id="findCntByAll" resultType="long">
        select
        count(1)
        from round
        where 1=1
        <if test="roundId!=null">
            and roundId=#{roundId,jdbcType=BIGINT}
        </if>
        <if test="playId!=null">
            and playId=#{playId,jdbcType=BIGINT}
        </if>
        <if test="finishCnt!=null">
            and finishCnt=#{finishCnt,jdbcType=INTEGER}
        </if>
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
    <delete id="deleteByRoundId">
        delete from  round
        where roundId=#{roundId,jdbcType=BIGINT}
    </delete>

</mapper>

